# Ignore all __pycache__ and Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
.venv/
venv/

# Ignore environment variable files
.env
.env.*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore mypy cache
.mypy_cache/

# Ignore pytest cache
.pytest_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore build artifacts
build/
dist/
*.egg-info/
*.egg

# Ignore logs
*.log
*.log.*

# Ignore IDE settings
.idea/
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Ignore compiled C extensions
*.so
